body {
    background-color: #161616;
    color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*home view*/

.home {
    display: flex;
    flex-direction: column;
    border: white 1px solid;
    background-color: rgba(240, 248, 255, 0.031);
    border-radius: 10px;
    margin: 2em;
    padding: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    gap: 1em;
}

h2{
  color:rgb(99, 162, 226);
}

#settings input{
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    background-color: #161616;
    color: #f8f8f8;
}

#settings input::placeholder{
    color: #f8f8f8;
}

#settings input:focus{
    border: #76d6ff;
}

button{
  width: fit-content;
    margin-top: 2em;
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    background-color: #161616;
    color: #f8f8f8;
    cursor: pointer;
} 

button:hover{
    background-color: #76d6ff;
    color: #161616;
    transition: all 0.3s;
}

#stats {
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
}

#stats button{
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    background-color: #161616;
    color: #f8f8f8;
    cursor: pointer;
} 

#logout{
  display: flex;
  justify-content: space-between;
  gap : 1em;
}

/*code fields*/

.input-field {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    gap: 1em;
    width: min-content;
}

.input-field input {
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    background-color: #161616;
    color: #f8f8f8;
}

/*game view*/

#game {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    border: white 1px solid;
    background-color: rgba(240, 248, 255, 0.031);
    border-radius: 10px;
    margin: 2em;
    padding: 2em;
}

#game button {
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    background-color: #161616;
    color: #f8f8f8;
    cursor: pointer;
    width: 100%;
}

/*stasts view*/

#stats-page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: white 1px solid;
  background-color: rgba(240, 248, 255, 0.031);
  border-radius: 10px;
  margin: 2em;
  padding: 2em;
}

#top-players{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

#top-players h2{
    color:rgb(99, 162, 226);
}

#top-players ul{
    list-style-type: none;
    padding: 0;
}

#top-players li{
    padding: 1em 0;
}

#stat{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stat-details{
    width:100%;
    margin: 1em 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: #f8f8f8 1px solid;
    border-radius: 10px;
    background-color: #76d6ff16;
}

.last-attempt{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1em;
    margin-top: 0.3em;
} 

.stat-details p, .last-attempt h4{
    padding:0;
    margin: 0;
}